body {
	margin: 0;
	font-family: sans-serif;
}

.hello {
	background-color: #282828;
	color: white;
	font-size: 20px;
	padding: 15px;
}

.cars {
	padding: 15px;
	font-family: times-new-roman;
}

p {
	margin-bottom: 3px;
}

input {
    height: 20px;
	width: 200px;
    font-size: 15pt;
	font-family: sans-serif;
}

button {
    margin-left: 3px;
    font-size: 13pt;
}